{# SPDX-FileCopyrightText: 2026 kinetgraph
   SPDX-License-Identifier: Apache-2.0 #}

from dataclasses import dataclass

@dataclass(frozen=True, slots=True)
class {{ camel_case_name }}:
    """
    ECS Component: {{ camel_case_name }}.
    
    Components must be immutable (`frozen=True`) and should primarily contain
    data (no complex logic or side effects) in accordance with ADR-034.
    """
    # Define your fields here
    # example_field: str
    pass
