{# SPDX-FileCopyrightText: 2026 kinetgraph
   SPDX-License-Identifier: Apache-2.0 #}

[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "A Kinetgraph Agent Application"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "kntgraph",
    {% if use_intent_http %}
    "kntgraph[api]",
    "uvicorn",
    {% endif %}
]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
