# SPDX-FileCopyrightText: 2026 kinetgraph
# SPDX-License-Identifier: Apache-2.0

# Kinetgraph configuration
KNT_ENV=dev
KNT_REDIS_URL=redis://localhost:6379
KNT_FALKORDB_HOST=localhost
KNT_FALKORDB_PORT=16379